/*
Theme Name: Maxi eShop
Author: Maxi
Description: Maxi eshop theme
Version: 1.0
Text Domain: maxieshop-theme
*/

.wp-caption {
  display: none;
}
.wp-caption-text {
  display: none;
}
.sticky {
  position: fixed;
}
.screen-reader-text {
  display: none;
}
.gallery-caption {
  display: none;
}
.bypostauthor {
  display: none;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
