#wpadminbar #wp-admin-bar-site-name > a.ab-item {color: transparent;}
.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item::before {content:url('../../img/logo.png'); transform: scale(.65);  width: 95px; height: 1px;}