#login h1 a,
.login h1 a {
  background-image: url("../images/icons/logo-maxi2.png");
  height: 45px;
  width: 320px;
  background-size: 200px;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  position: absolute;
  top: 20px;
}
.message.register {
  background: transparent;
  color: #fff;
  border-left-color: #fff;
}
#registerform {
  background: transparent;
  color: #fff;
}
#regiserform #wp-submit {
  border-color: #e60019;
}
#login #wp-submit {
  background-color: #e60019;
  color: #fff;
  border-color: #fff;
  text-shadow: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
#login label {
  color: #fff;
}
.login {
  background-size: cover !important;
  background-position: bottom !important;
  background: #e60019;
}
#loginform {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
#login input {
  /* 			border-color: #ffa54f; */
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
#login input:focus {
  box-shadow: 0 0 2px 1px #fff;
}
#login #wp-submit:hover {
  background-color: #fff;
  color: #e60019;
  border-color: #e60019;
  transition: 0.3s ease-in-out;
}
#login a {
  color: #fff !important;
  font-weight: bold;
}
