/* -----------------------------------
   1. Globally Applied Styles
   2. Header & Navbar
   3. Main Wrapper
   4. Media Queries
   ----------------------------------- */
/* --------------------------
   1. Globally Applied Styles
   -------------------------- */
@font-face {
  font-family: "GothamRounded-Bold";
  src: url("../fonts/GothamRounded-Bold.otf");
}
@font-face {
  font-family: "GothamRounded-Medium";
  src: url("../fonts/GothamRounded-Medium.otf");
}
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
:focus {
  outline: 0;
}
input[type="submit"] {
  -webkit-appearance: none;
}
html {
  overflow-x: hidden;
  max-width: 100%;
}
h1 {
  font-size: 80px;
  line-height: 80px;
}
h2 {
  font-size: 56px;
  line-height: 55px;
  font-weight: 700;
}
h3 {
  font-size: 45px;
}
h4 {
  font-size: 35px;
  line-height: 60px;
}
h5 {
  font-size: 25px;
  font-weight: bold;
}
h6 {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}
input[type="text"]::-ms-clear {
  display: none;
}
sup {
  font-size: 10px;
  vertical-align: super;
}
sub {
  font-size: 10px;
  vertical-align: sub;
}
.m-t-1 {
  margin-top: 10px;
}
.m-t-2 {
  margin-top: 20px;
}
.m-t-5 {
  margin-top: 50px;
}
.m-t-3 {
  margin-top: 35px;
}
.m-t-4 {
  margin-top: 40px;
}
.m-t-7 {
  margin-top: 90px;
}
.pb-0 {
  margin-bottom: 0;
}
.m-b-3 {
  margin-bottom: 30px;
}
.m-b-5 {
  margin-bottom: 50px;
}
.m-t-100 {
  margin-top: 100px;
}
p:empty {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background-color: #fff;
  color: #626262;
  font-family: "GothamRounded-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  overflow-x: hidden;
  overflow: hidden;
  word-wrap: break-word;
}
img {
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.content-space {
  padding: 0 80px;
}

.subcategories li a {
  display: flex;
}

.subcategories li a span {
  order: 2;
}

/*Header*/
header {
  padding: 15px;
}
header .logo {
  width: 150px;
}
header .search {
  margin-top: 10px;
}
/* CHANGED FROM ID TO CLASS */
header .search .search-field {
  width: 100%;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
}
header ul {
  display: inline-flex;
  margin-left: 25px;
}
header ul li {
  margin-right: 45px;
}
header ul .vlera-shportes {
  color: #707070;
  font-size: 13px;
  text-transform: uppercase;
}
header ul .value {
  font-size: 35px;
  color: #e6e6e6;
  margin-top: 5px;
  font-weight: bold;
  color: red;
  margin-left: 35px;
}
header ul li {
  display: inline-flex;
}
header .social-icons i {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
}
header .social-icons .fa-facebook {
  background-color: #3b5998;
  color: #fff;
  height: 17px;
  border-radius: 50%;
  padding: 6px 6px;
  font-size: 10px;
  line-height: 6px;
}
header .social-icons .fa-instagram {
  color: #e95950;
}
header ul .language img {
  width: 30px;
  height: 25px;
}
header ul .language {
  margin-right: 10px;
}
header ul .language-li {
  margin-right: 0;
}
.search-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 15px;
  background-color: transparent;
  border: none;
}
.search-btn .fa-search {
  font-size: 18px;
  color: #fc0b08;
}

/* category tabs  */

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item {
  background: #f2f2f2;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 160px;
  height: 70px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #999;
}
.nav-item img {
  width: 35px;
  height: 40px;
  margin-right: 10px;
}
.nav-link {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #999999;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* Main Wrapper */

.main-wrapper {
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

/* Right SideBar */

.right-sidebar {
  z-index: 2;
  background-color: #fc0b08;
  right: 30px;
  position: fixed;
  width: 60px;
  height: 80%;
  top: 85px;
}
.right-sidebar .menu {
  padding: 20px 0;
}
.right-sidebar .menu li {
  margin-bottom: 25px;
  text-align: center;
}
.right-sidebar .menu li img {
  width: 30px;
  height: 25px;
}

/* Page Content */

/* About */

.main-wrapper .content {
  background: #f2f2f2;
  padding: 30px 30px 45px 30px;
}
.right-sidebar.about {
  height: 100%;
}
.main-wrapper .content h6 {
  margin-bottom: 20px;
}
.main-wrapper .content .red-p {
  color: red;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
}
.main-wrapper .content h3 {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.main-wrapper .content p {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.main-wrapper .content h6 {
  color: #000;
  font-weight: bold;
}
.main-wrapper .about-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  table-layout: auto;
  position: relative;
  background-position: center;
}
/* Sidebar Content */

.sidebar-content {
  position: fixed;
  width: 528.6px;
  border-radius: 20.1px;
  background-color: #090e3e;
  height: 85%;
  top: 12%;
  right: 100px;
}
section {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
}
.btn-list li button {
  outline: none !important;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn-list li {
  margin-bottom: 10px;
}
.fa-times {
  font-size: 20px;
  color: #cccccc;
}
.btn-list .red-heart-order-btn .fa-heart {
  font-size: 20px;
  color: #ff0000;
}
.btn-list .light-heart-order-btn .fa-heart {
  font-size: 20px;
  color: #808080;
}

.product-price .flag-origin {
  margin-right: 10px;
}
.product-price .flag-origin img {
  display: inline-block;
  width: 40px;
  height: 26px;
}
.product-price {
  display: -webkit-inline-box;
}
.span-red {
  color: #fc0b08;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
}
.product-price .small-span {
  font-size: 13px;
}
.product-price .price-info {
  display: inline-grid;
}
.btn-list .quantity {
  background: #e6e6e6;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 16px;
}
.btn-list .quantity .fa-chevron-left {
  margin-right: 10px;
  font-size: 15px;
  color: #ff0000;
}
.btn-list .quantity .fa-chevron-right {
  margin-left: 10px;
  font-size: 15px;
  color: #ff0000;
}
.product-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #808080;
}
.bottom-bar {
  background-color: red;
  border-radius: 35px;
  padding: 0px 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
}
.bottom-bar h5 {
  margin-top: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.bottom-bar .bottom-img {
  width: 50px;
  height: 70px;
}
#profile-order {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
#profile-order .sidebar-content {
  overflow: unset;
}
#profile-order .bottom-bar {
  margin: 20px;
}
.products {
  overflow-y: scroll;
  height: 500px;
}
.banner-images {
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sidebar-content.heart-products section {
  margin: 0;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  border-radius: 26px;
  border: 1px solid #999;
  padding: 15px;
}
.woocommerce textarea#order_comments {
  width: 500px;
  height: 100px;
}
.woocommerce form .form-row {
  width: 100%;
}
.woocommerce form .form-row label {
  line-height: 2;
  width: 200px;
}
.sidebar-content.heart-products .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.blerja-page label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 15px;
}
input[type="datetime-local"] {
  margin-top: 22px;
  margin-left: 40px;
  border: 1px solid #999;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
}
.shopping-card-total {
  background: #e60019;
  color: #fff;
  text-align: center;
  padding: 40px 60px;
  border-radius: 9.7px;
}
.shopping-card-total p span {
  font-weight: bold;
}
.shopping-card-total h5 {
  font-weight: bold;
  margin-top: 10px;
}
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 15px;
  outline: none;
  border: 1px solid #6d6d6d;
}
.form-radio:hover {
  background-color: #f7f7f7;
}
.form-radio:checked {
  background-color: red;
  border: 1px solid red;
}
.blerja-page radio-one:checked {
  color: red;
}
#waiting-order .red-section {
  background-color: #ff0000;
  color: #fff !important;
}
#waiting-order .red-section h6 {
  color: #fff;
}
#waiting-order h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ff0000;
  font-size: 18px;
}
#waiting-order span {
  margin-right: 10px;
}
#waiting-order .red-section .product-name {
  color: #fff;
}
#waiting-order {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
#waiting-order .products {
  height: 580px;
}
#shopping-account {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
#settings-info .sidebar-content {
  color: #fff;
  overflow: unset;
}
#settings-info .products {
  padding: 20px 30px;
  height: 520px;
}
#settings-info h5 {
  font-weight: bold;
}
#settings-info .bottom-bar {
  bottom: 0px;
  margin: 20px;
}
#settings-info .bottom-bar h5 {
  margin-top: 12px;
  font-weight: bold;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.red-border-bottom {
  border-bottom: 1px solid #fc0b08;
  padding: 10px 0;
  margin-bottom: 15px;
}
.border-input {
  border: 1px solid #ff0000;
  border-radius: 23px;
  padding: 15px 15px;
  background: transparent;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
  font-size: 13px;
}
.edit-btn {
  background: transparent;
  border: none;
  outline: none;
}
.edit-btn .fa-edit {
  color: #fc0b08;
  margin-top: 10px;
  outline: none;
}
#settings-info p {
  font-size: 14px;
  margin-bottom: 5px;
}
.red-p {
  color: #fc0b08;
}

#settings-info {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
}

#profile-info .sidebar-content {
  color: #fff;
}
#profile-info {
  font-size: 16px;
  position: fixed;
  z-index: 2;
}
#profile-info .border-p {
  margin-bottom: 15px;
}

#profile-info {
  visibility: hidden;
  opacity: 0;
}
#profile-info .sidebar-content {
  overflow: unset;
}
#profile-info .bottom-bar {
  padding: 5px 30px;
  margin: 20px;
  bottom: 15px;
}
#profile-info .bottom-bar h5 {
  margin-top: 10px;
  font-weight: bold;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 11px;
  font-size: 19px;
  letter-spacing: 0.2px;
}
#profile-info .products {
  padding: 20px 30px;
}
#shopping-account a {
  color: #808080;
  font-size: 15px;
  border-bottom: 1px solid;
  padding-bottom: 7px;
  text-decoration: none;
}
.sidebar-btn {
  width: 100%;
  height: 57.4px;
  background-color: #ec1e24;
  border: 1px solid #ec1e24;
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  border-radius: 30px;
  font-size: 21px;
  color: #fff;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.sidebar-btn-fb {
  width: 100%;
  height: 57.4px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  border-radius: 30px;
  font-size: 21px;
  color: #fff;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.fb-login-btn .sidebar-btn {
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
}
.msg.red-background {
  background: red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 20px 45px 20px;
}

.sidebar-content p {
  font-size: 16px;
}

.msg {
  padding: 20px 20px 0px 20px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 50% 30%;
}

.visible-box {
  opacity: 1 !important;
  visibility: visible !important;
  /* display: block !important; */
}
.products::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.products::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.products::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.products::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.account-span {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #e60019;
  padding: 10px;
}
.parent a {
  text-decoration: none;
}

#notification-settings {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  position: fixed;
  z-index: 2;
}

#notification-settings {
  visibility: hidden;
  opacity: 0;
}
#message-holder .active-status {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #00ff00;
}
#message-holder .products {
  padding: 20px;
}
#message-holder .sidebar-content .title {
  padding: 20px 0;
}
#message-holder h5 {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}
#message-holder .fa-comments {
  color: #fff;
}
#message-holder .message-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.container::-webkit-scrollbar-track {
  background: #9f6905;
  border-radius: 5px;
}
.Area {
  margin: 0 auto;
  width: 400px;
  background-color: rgba(240, 240, 240, 0.2);
  display: table;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.L {
  float: left;
}
#message-holder img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f0f0ff;
  padding: 5px;
  margin-left: 20px;
}

#message-holder textarea {
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
  min-height: 150px;
  padding: 20px;
}

#message-holder .R {
  float: right;
}
.text {
  color: #808080;
  font-family: tahoma;
  font-size: 13px;
  font-weight: lighter;
  line-height: 30px;
  width: 300px;
  border: 1px solid #f0f0f0;
  background-color: #f5f5f5;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 15px;
}
#message-holder .Area textarea {
  font-size: 12px;
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #f0f0f1;
  max-height: 50px;
  height: 50px;
  min-height: 50px;
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  resize: none;
}
#message-holder .Area.automatic-msg .textL {
  background: #fc0b08;
  color: #fff;
}
#message-holder .Area.left-sent-msg .textL {
  background-color: #bdccd4;
  color: #000000;
}
#message-holder .Area textarea:focus {
  color: #333;
  border: 1px solid #ccc;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #fff;
}
#message-holder .Area .note {
  color: #9f6905;
  font-size: 10px;
}
#message-holder .R .tooltip {
  font-size: 10px;
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9f6905;
  margin-left: 70px;
  margin-top: -70px;
  display: none;
  color: #545454;
}
#message-holder .R .tooltip:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-right-color: #9f6905;
  margin-top: 10px;
  margin-left: -17px;
}
#message-holder .R:hover .tooltip {
  display: block;
}

#message-holder .L .tooltip {
  font-size: 10px;
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9f6905;
  margin-left: 70px;
  margin-top: -70px;
  display: none;
  color: #545454;
}
#message-holder .L .tooltip:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-right-color: #9f6905;
  margin-top: 10px;
  margin-left: -17px;
}
#message-holder .L:hover .tooltip {
  display: block;
}

#message-holder .Area input[type="button"] {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #f0f0f1;
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  float: left;
}
#message-holder .Area input[type="button"]:hover {
  color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #9f6905;
}
#message-holder .validation {
  float: left;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
  height: 0px;
  margin-left: 5px;
  display: none;
}
br {
  clear: both;
  height: 20px;
}
.bold-span {
  font-weight: 600;
}
#message-holder {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
}
#favourites-products .products {
  padding: 20px;
  height: 580px;
}
#favourites-products article {
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}
#favourites-products button {
  background: transparent;
  outline: none;
  border: none;
}
#favourites-products .flag-img {
  width: 25px;
  height: 26x;
  display: block;
}
#favourites-products article .product-title {
  font-weight: bold;
  font-size: 12px;
}
#favourites-products .product-img {
  width: 150px;
  height: 120px;
  display: flex;
  text-align: center;
  margin: auto;
}
#favourites-products .add-to-card {
  background: #ff0302;
  padding: 5px;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
}
#favourites-products .sidebar-content {
  overflow: unset;
}
.fa-shopping-cart {
  margin-top: 4px;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  vertical-align: middle;
}

#favourites-products {
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
.slider-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-images .col-md-8 {
  padding-right: 0;
}
.banner-images ul li {
  margin-bottom: 5px;
}
.banner-images__inner ul li::after {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 48px 100px 48px 0;
  border-color: transparent #007bff transparent transparent;
}
.bottom-menu {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}
.bottom-menu img {
  width: 30px;
  height: 25px;
}

.section-images img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  table-layout: auto;
  position: relative;
}
.section-images iframe {
  width: 100%;
  height: 100%;
}

.item .overlay-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  background-color: #fc0b08cf;
}
.item .overlay-wrapper:hover {
  opacity: 1;
}
.item .overlay-wrapper .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  table-layout: auto;
}
.item .overlay-wrapper .overlay .overlay-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 50px;
}
.section-images p {
  font-size: 17px;
  line-height: 30px;
  color: #fff;
}
.section-images h3 {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.section-images a {
  text-decoration: none !important;
  color: #fff;
}
.section-images .item {
  position: relative;
  overflow: hidden;
}
.section-images .read-more {
  font-size: 14px;
  color: red;
  padding: 10px;
  background-color: #fff;
  width: 150px;
  line-height: 20px;
  border-radius: 25px;
  vertical-align: middle;
  margin-top: 15px;
}
.section-images .fa-plus {
  font-size: 13px;
  float: right;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 2px 4px;
}
/* Login */
.auth-page {
  padding: 0;
}
.auth-page .main-wrapper {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #e60019;
  margin-top: 0;
}
.placeholder {
  position: absolute;
  top: 65%;
  width: 350px;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  margin: auto;
  left: 0;
  right: 0;
}
.auth-page button {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.auth-page .guest-btn {
  background: transparent;
  padding: 20px 0;
  font-size: 23px;
  color: #fff;
}

.auth-page .sign-btn {
  padding: 12px;
  background: #fff;
  color: red;
}
.auth-page .login-btn {
  padding: 12px;
  background: transparent;
  color: #fff;
}
.auth-page .placeholder img {
  width: 400px;
}
.auth-page .top-logo {
  padding: 20px;
  text-align: center;
  margin: auto;
}
.auth-page .space-element {
  top: 50% !important;
  color: #fff;
}
.auth-page .content-btn {
  display: block;
}
.auth-page .content-btn input {
  width: 100%;
  padding: 13px;
  border-radius: 25px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  font-size: 15px;
}
.auth-page label {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.2px;
}
.bottom-details {
  bottom: 5%;
  position: absolute;
  margin: auto;
  display: block;
  text-align: center;
  width: 350px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
}
.bottom-details button {
  background-color: #c5001b;
  border: 1px solid #c5001b;
  margin-top: 20px;
  border-radius: 26px;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.bottom-details .regular-checkbox:checked:after {
  color: red;
}
.bottom-details input[type="checkbox"] {
  margin-right: 15px;
}
#pagesa .bottom-details {
  width: 600px;
}
#pagesa .bottom-details button {
  width: 450px;
}
.blerja-page button {
  background-color: #e60019;
  border-color: #e60019;
}
.bottom-details a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.bottom-details p {
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #fff;
}
.social-icons ul {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.social-icons ul li {
  display: inline-flex;
  margin-right: 40px;
}
.bottom-details.height {
  bottom: 2%;
}
.auth-page .main-wrapper.bgc {
  background-color: #fff;
}
.auth-page .main-wrapper.bgc p {
  color: red !important;
  text-transform: uppercase;
  font-weight: bold;
}
.blerja-page header {
  padding: 15px;
  background: red;
}
.blerja-page {
  padding: 0;
}
.blerja-page .placeholder.payment {
  top: 50%;
  width: 490px;
}
.blerja-page .placeholder.payment .radio-list {
  margin-top: 20px;
  text-align: center;
}
.blerja-page .placeholder.payment .radio-list li {
  margin-bottom: 20px;
}
.blerja-page .placeholder input[type="text"] {
  border: 1px solid #f7b8ba;
  width: 100%;
  border-radius: 26px;
  padding: 15px 15px;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}
.blerja-page .radio-list li {
  margin-bottom: 45px;
}
.return-back {
  float: left;
  color: #fff;
}

.bg-title {
  background: #ff0000;
  margin-top: 30px;
  padding: 35px 0;
  text-align: center;
}
.bg-title h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2px;
}
.bg-title .line {
  width: 100px;
  height: 4px;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
}

.nav-last-steps {
  text-align: center;
  display: inline-flex;
  margin: auto;
  border-top: 2px solid #f7b8ba;
}
.nav-last-steps .tablinks {
  padding-right: 150px;
}
.nav-last-steps .tablinks .circle {
  position: absolute;
  top: -9px;
  background-color: #fff;
  border: 2px solid #808080;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.nav-last-steps .tablinks.adresa .circle {
  background-color: #e60019;
  border: 2px solid #e60019;
}
.nav-last-steps .tablinks.adresa .bottom-txt {
  color: #e60019;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-last-steps .tablinks.shporta .circle {
  background-color: #031a6b;
  border: 2px solid #031a6b;
  width: 15px;
  height: 15px;
  top: -11%;
}
.nav-last-steps .tablinks.shporta .bottom-txt {
  color: #031a6b;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-last-steps .tablinks .bottom-txt {
  padding-top: 10px;
  line-height: 50px;
}
.nav-last-steps .tablinks:last-child {
  padding-right: 0 !important;
}
.blerja-page .main-wrapper {
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #ff0000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.regular-checkbox:checked {
  background-color: transparent;
  border: 1px solid #ff0000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  outline: 0;
}
.regular-checkbox:checked:after {
  content: "\2714";
  font-size: 13px;
  position: absolute;
  top: -3px;
  left: 4px;
  color: #fff;
}
.woocommerce .products ul,
.woocommerce ul.products {
  padding: 20px;
}
.woocommerce .woocommerce-result-count {
  padding: 20px;
}
.woocommerce .woocommerce-ordering {
  padding: 20px;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  background: #f2f2f2;
  padding: 30px;
  margin-right: 20px;
  width: 20%;
}
.woocommerce ul.products li.product .button {
  margin-top: 1em;
  width: 100%;
  color: #fff;
  background-color: #fc0b08;
  padding: 18px;
  border-radius: 26px;
  text-align: center;
  text-transform: uppercase;
}
.woocommerce ul.products li.product a img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 0 1em;
  box-shadow: none;
  margin: auto;
  text-align: center;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  padding: 0.5em 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
  color: #808080;
  text-transform: uppercase;
  line-height: 20px;
}
#add_payment_method .checkout .col-2 h3#ship-to-different-address,
.woocommerce-cart .checkout .col-2 h3#ship-to-different-address,
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
  float: left;
  clear: none;
  display: none;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: unset;
  max-width: unset;
  display: block;
  width: 100%;
  margin-top: 50px;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: unset;
  max-width: unset;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.woocommerce-order section {
  padding: 0 !important;
  margin: 0 !important;
}
.woocommerce .quantity .qty {
  width: 70px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}
.sku_wrapper {
  display: block;
  text-transform: uppercase;
}
.posted_in {
  text-transform: uppercase;
}
.posted_in a {
  color: #808080;
  text-decoration: none;
}
.woocommerce table.wishlist_table tr {
  background: #fff;
}
.woocommerce table.wishlist_table {
  /* font-size: 80%; */
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-top: -10px;
  padding: 20px;
}
.woocommerce a.remove {
  display: block;
  font-size: 25px;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #999 !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  margin-left: 15px;
}
.woocommerce table .product-name a {
  text-decoration: none;
  color: #999;
}
.woocommerce table.wishlist_table tr td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.woocommerce table.wishlist_table tr td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.woocommerce .woocommerce-Price-amount.amount {
  font-size: 18px;
  font-weight: bold;
}
.woocommerce a.added_to_cart {
  padding-top: 0.5em;
  display: inline-block;
  margin-left: 7px;
  color: #999;
}
ins .woocommerce .woocommerce-Price-amount.amount {
  color: red !important;
}
.woocommerce ul.products li.product .price ins {
  background: 0 0;
  display: inline-block;
  padding: 0.5em 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #808080;
  text-transform: uppercase;
  color: #fc0b08;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
}
.woocommerce ul.products li.product .price {
  color: #808080;
  display: block;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 10px;
}
.login #login_error,
.login .message,
.login .success {
  display: none !important;
}
.login form {
  box-shadow: none !important;
}
.woocommerce div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 35px;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: 22%;
}
.woocommerce .products ul,
.woocommerce ul.products {
  padding: 20px;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: red;
  color: #fff;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: red;
  color: #fff;
  border-radius: 28px;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 13px;
}
.product-name a {
  text-decoration: none;
  color: #999;
  display: block;
}
.woocommerce table.wishlist_table tr td:last-child {
  border-top-right-radius: 6px;
  display: block;
}
.woocommerce table.shop_table td {
  border-top: unset;
}
.product-price ins {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.woocommerce a.remove:hover {
  color: #999;
  background: unset;
}
.woocommerce .woocommerce-ordering select {
  display: none;
}
li.parent.active {
  background: #e60019;
  padding: 5px 0 10px 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
footer {
  background-color: #090e3e;
  padding: 50px 0 0 0;
  color: #fff;
  margin-top: 30px;
}
footer ul {
  display: inline-grid;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer ul li a:hover {
  text-decoration: none !important;
  color: #fff !important;
}
footer .f-copyright {
  background-color: #222332;
  padding: 15px 0;
  margin-top: 50px;
}
footer .f-copyright p {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2px;
}
footer .right-list {
  text-align: right;
}
footer .right-list span {
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
}
footer .right-list .fa-phone {
  color: red;
  background: #fff;
  border-radius: 50%;
  padding: 8px 14px;
  font-size: 38px;
}
footer .right-list .span-number {
  font-size: 35px;
  font-weight: bold;
  margin-left: 15px;
  letter-spacing: 1.2px;
}
footer .right-list li {
  margin-bottom: 10px;
  text-align: right;
}
header ul .language-li {
  display: none;
}

/* #products {
    width: 20%;
  } */
#products {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
#products .type-product {
  /* padding: 20px; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 31%;
  max-width: 16%;
  width: 100%;
  min-height: 1px;
  /* padding-right: 15px; */
  padding-left: 15px;
  margin-bottom: 10px;
  position: relative;
}
#products .type-product .product-holder {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #9999999e;
  border-radius: 6px;
  position: relative;
}
.nav-link {
  height: 100%;
  align-items: center;
  cursor: pointer;
}
#products .flag-origin {
  width: 25px;
  height: 25px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.related .products {
  overflow-y: unset;
  height: unset;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  background-color: #fff;
  border: 1px solid #999;
}
#products .attachment-woocommerce_thumbnail {
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.woocommerce .wishlist_table td.product-add-to-cart a {
  display: block !important;
  margin: 0 0 5px;
  text-align: center;
  width: 150px;
}
#products .onsale {
  display: none;
}
#products .woocommerce-loop-product__title {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  text-align: center;
  margin: auto;
  line-height: 17px;
  padding: 5px 0;
  text-decoration: none;
}
#products a {
  text-decoration: none !important;
}
#products .add_to_wishlist svg {
  fill: #fff !important;
  height: 30px !important;
  padding: 7px;
  width: 30px;
  border-radius: 50%;
  background: red;
  margin-top: 0 !important;
  /* vertical-align: middle; */
  margin-right: 4px !important;
}
.yith-wcwl-add-to-wishlist {
  margin-top: 0;
}

#products a.button {
  background: #fc0b08;
  color: #fff;
  min-width: 150px;
  height: 40px;
  border-radius: 26px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}
#products .price {
  display: block;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  color: #999;
}
#message-holder {
  display: none;
}
.bottom-menu {
  display: none !important;
}
.lcx .lcx-popup-body {
  background: #fff !important;
}
.lcx .lcx-popup.lcx--active {
  background: #090e3e !important;
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  width: 150px;
}
#products ins {
  text-decoration: none !important;
}
#products ins span.woocommerce-Price-amount.amount {
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
}

@media only screen and (max-width: 760px) {
  header .logo {
    text-align: center !important;
    width: unset;
  }
  header ul {
    margin-top: 10px;
  }
  header ul li {
    margin-right: 70px;
  }
  header ul .value {
    margin-left: 25px;
  }
  #products .type-product {
    max-width: 50%;
  }
  .banner-images ul li {
    margin-top: 10px;
  }
  .nav-item img {
    width: 20px;
    height: 27px;
    margin-right: 10px;
  }
  .section-images img {
    margin-bottom: 20px;
  }
  .right-sidebar {
    background-color: #fc0b08;
    width: 100%;
    z-index: unset;
    position: unset;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 11px;
  }
  .right-sidebar .menu {
    padding: 20px 0;
    display: inline-flex;
    width: 100%;
  }
  .right-sidebar .menu li {
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }
  .bottom-menu {
    position: unset;
    right: 0;
    left: 0;
    bottom: 20px;
  }
  footer .right-list {
    margin-top: 20px;
  }
  .woocommerce-order section {
    padding: 0;
  }
  .woocommerce-order h2 {
    font-size: 30px;
  }
  header ul .vlera-shportes {
    font-size: 12px;
  }
  .bg-title h3 {
    font-size: 20px;
  }
  .section-images h3 {
    font-size: 20px;
  }
  .section-images p {
    font-size: 14px;
    line-height: 18px;
  }
  .sidebar-content {
    width: 100%;
    right: 0;
  }
  h5 {
    font-size: 20px;
  }
  .border-input {
    padding: 10px 15px;
  }
  .edit-btn .fa-edit {
    margin-bottom: 10px;
    font-size: 19px;
  }
  .sidebar-btn {
    height: 50px;
    font-size: 18px;
  }
  #profile-info .bottom-bar {
    font-size: 17px;
    height: 50px;
  }
  #profile-info .bottom-bar h5 {
    margin-top: 5px;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 18px;
  }
  .m-t-3 {
    margin-top: 15px;
  }
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 33px;
    line-height: 35px;
  }
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    width: 100%;
  }
  .woocommerce .products ul,
  .woocommerce ul.products {
    padding: 5px;
    overflow-y: unset;
  }
  .products {
    width: 100%;
  }
  .woocommerce .col2-set .col-1,
  .woocommerce-page .col2-set .col-1 {
    max-width: 100%;
    width: unset;
  }
  .woocommerce .col2-set .col-2,
  .woocommerce-page .col2-set .col-2 {
    max-width: 100%;
    width: unset;
  }
  .nav-tabs .nav-item {
    height: 55px;
  }
  #settings-info p {
    font-size: 14px;
  }
}
.container-products {
  padding: 0 50px;
}
.related {
  clear: both;
  padding: 0;
  margin: 0;
}
.woocommerce-breadcrumb {
  display: none !important;
}
.content-single {
  margin: 100px;
}
.content-single .product-image {
  text-align: center;
  border: 1px solid #031a6b;
}
.content-single .woocommerce div.product form.cart .button {
  background: #fc0b08;
  padding: 18px 20px;
  min-width: 180px;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.content-single .product-info {
  padding: 20px 0;
}
.content-single .product-info h6 {
  color: #808080;
  font-size: 20px;
  font-weight: bold;
}
.content-single .product-info span {
  color: #808080;
  font-weight: lighter;
  font-size: 14px;
  line-height: 30px;
}
.content-single .product-info .flag-img {
  width: 35px;
  height: 28.8px;
  display: block;
  margin: 20px 0;
}
.content-single .price {
  margin-top: 20px;
}
.content-single .price ul {
  display: flex;
  margin-top: 30px;
}
.content-single .price ul li {
  margin-right: 10px;
  background: #e6e6e6;
  border-radius: 50%;
  padding: 5px 11px;
}
.content-single .price ul li i {
  font-size: 15px;
}
.content-single .price ul .list-nr {
  padding: 20px;
}
.content-single .add-to-card {
  width: 45%;
  padding: 13px;
  margin-top: 15px;
  border-radius: 26px;
}
.content-single .span-price {
  color: red !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
.checkout .col-1,
.checkout .col-2 {
  max-width: unset !important;
}
.nav-tabs .nav-item {
  position: relative;
}
.nav-tabs .nav-item.active {
  background-color: red;
  color: #fff;
}

/* .nav-tabs > .nav-item.active:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 47%;
    border-top: 11px solid red;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  } */
